<div class="box">
    {% block box_top_left %}
        <div class="top-left"></div>
    {% endblock %}

    {% block box_top_right %}
        <div class="top-right"></div>
    {% endblock %}

    {% block box_content %}
    {% endblock %}

    {% block box_clear %}
        <div class="clear"></div>
    {% endblock %}

    {% block box_bottom %}
        <div class="bottom"></div>
    {% endblock %}
</div>
