{% extends "SensioLabsJobBoardBundle:Includes:box.html.twig" %}

{% block box_content %}
    {% block job_header %}
        {% include "SensioLabsJobBoardBundle:Includes:full_job_header.html.twig" %}
    {% endblock %}

    {% block job_description %}
        <div class="clear"></div>
        <div id="job-description" class="padding description">
           {{ job.description | purify }}
        </div>
    {% endblock %}

    {% block job_apply %}
        {% if job.howToApply | length > 0 %}
            <div class="padding how-to-apply">
                <h3>How to apply?</h3><br/>

                <div id="howToApply">{{ job.howToApply | purify }}</div>
            </div>
            <br/><br/>
        {% endif %}
    {% endblock %}

    {% block job_steps %}
    {% endblock %}

    {% block box_clear %}
    {% endblock %}
{% endblock %}
