{% extends "SensioLabsJobBoardBundle:Includes:box.html.twig" %}

{% block box_content %}
    {% block job_header %}
        {% include "SensioLabsJobBoardBundle:Includes:full_job_header.html.twig" %}
    {% endblock %}

    {% block job_description %}
        <div class="clear"></div>
        <div id="job-description" class="padding description">
           {{ job.description | raw }}
        </div>
    {% endblock %}

    {% block job_apply %}
        <div class="padding how-to-apply">
            <h3>{% trans %}How to apply?{% endtrans %}</h3><br/>

            <div id="howToApply">{{ job.howToApply | raw }}</div>
        </div>
        <br/><br/>
    {% endblock %}

    {% block job_steps %}
    {% endblock %}

    {% block box_clear %}
    {% endblock %}
{% endblock %}
