<div class="details">
    <span class="filter">
        <a href="#">Paris, France</a> /
        <a href="#">Full time</a>
        
        <br/><span class="archived">Archived since 12/12/2013</span>

    </span>
</div>

<a href="{{ path('job_show') }}" class="title">
    Developer
    <span class="company">@&nbsp;SensioLabs</span>
</a>
