{% extends "SensioLabsJobBoardBundle:Backend:layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block title 'Backend - Edit' %}

{% block content %}
    {{ breadcrumb({
        'Backend': path('backend_list'),
        'Make changes on \'Developper\' announcement': null,
    }) }}

    {% embed "SensioLabsJobBoardBundle:Includes:job_form.html.twig" %}
        {% block admin_extra_fields %}
            <div class="backend-job-dates">
                Visible from
                <input id="publishedAt" class="span3 hasDatepicker" type="datetime" value="01/06/2014" name="publishedAt">
                To
                <input id="endedAt" class="span3 hasDatepicker" type="datetime" value="01/06/2014" name="endedAt">
                (format: mm/dd/yyyy) 
            </div>
        {% endblock %}
    {% endembed %}

    <div class="clear"></div>
{% endblock %}
