<html>
<body>
Source:
<a href="#">
    http://mydomainname.com/FR/CDI/sensiolabs-product-manager-h-f
</a><br/>
<br/>
<table>
    <tr>
        <td rowspan="2">BEFORE</td>
        <td>Title: Developer</td>
    </tr>
    <tr>
        <td>Description:<br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nulla augue. Phasellus enim eros, luctus a dapibus ut, auctor et urna. Donec eget egestas mi. Sed auctor semper elit, quis elementum orci pulvinar ut. Donec leo quam, elementum non vulputate ut, laoreet eu augue. Pellentesque tempus luctus porttitor. In id orci enim, quis gravida massa. Praesent consequat hendrerit consequat. Cras nulla elit, pulvinar a dapibus vitae, pellentesque vel orci. Fusce tellus turpis, tempor eu convallis sed, scelerisque bibendum turpis. Fusce pharetra venenatis augue at condimentum. Duis lectus arcu, aliquam ut euismod non, gravida id nisl. Nullam hendrerit condimentum lacus in egestas. Morbi lobortis nibh ac lacus convallis adipiscing. Integer lacinia justo et nunc faucibus in pellentesque dui sagittis. Mauris mi felis, consequat ac laoreet pretium, tempor quis enim. Fusce arcu massa, posuere ut luctus ut, pellentesque a augue. </td>
    </tr>

    <tr>
        <td rowspan="2">AFTER</td>
        <td>Title: Senior Developer</td>
    </tr>
    <tr>
        <td>Description:<br/><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nulla augue. Phasellus enim eros, luctus a dapibus ut, auctor et urna. Donec eget egestas mi. Sed auctor semper elit, quis elementum orci pulvinar ut. Donec leo quam, elementum non vulputate ut, laoreet eu augue. Pellentesque tempus luctus porttitor. In id orci enim, quis gravida massa. Praesent consequat hendrerit consequat. Cras nulla elit, pulvinar a dapibus vitae, pellentesque vel orci. Fusce tellus turpis, tempor eu convallis sed, scelerisque bibendum turpis. Fusce pharetra venenatis augue at condimentum. Duis lectus arcu, aliquam ut euismod non, gravida id nisl. Nullam hendrerit condimentum lacus in egestas. Morbi lobortis nibh ac lacus convallis adipiscing. Integer lacinia justo et nunc faucibus in pellentesque dui sagittis.</td>
    </tr>
</table>
</body>
</html>
