{% extends "SensioLabsJobBoardBundle::layout_wysiwyg.html.twig" %}
{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'add' %}
{% block title 'frontend.jobs.post' | trans %}

{% block content %}
    {% if from_preview %}
        {{ breadcrumb({
            ('frontend.jobs.my_jobs' | trans): path('manage'),
            (job.title): null,
        }) }}
    {% else %}
        {{ breadcrumb({
            ('frontend.jobs.post' | trans): path('job_post')
        }) }}
    {% endif %}

    {% embed "SensioLabsJobBoardBundle:Includes:job_form.html.twig" with {'form_action' : path('job_post')} %}
        {% block buttons %}
            <button class="green-button right" type="submit" name="preview">
                <span class="sprite-icon-light-arrow-right"></span>
                <span>{{ ((from_preview ? 'buttons.update' : 'buttons.preview') | trans) | trans }}</span>
            </button>
        {% endblock %}
    {% endembed %}

{% endblock %}
