{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}
{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'preview' %}
{% block title job.title %}

{% block content %}
    {{ breadcrumb({
        (job.company.country | countryName): path('homepage', {'country': job.company.country}),
        (job.contractName | trans): path('homepage', {'contract': job.contract}),
        (job.title): null
    }) }}

    {% embed 'SensioLabsJobBoardBundle:Includes:job.html.twig' %}{% endembed %}
    <div class="clear"></div>
{% endblock %}
