{% extends "SensioLabsJobBoardBundle::layout_wysiwyg.html.twig" %}
{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'add' %}
{% block title 'Update a Job' %}

{% block content %}
    {{ breadcrumb({
        'My jobs': path('manage'),
        (job.title): null,
    }) }}

    {% embed "SensioLabsJobBoardBundle:Includes:job_form.html.twig" with {'form_action' : path('job_update', job.urlParameters)} %}
        {% block buttons %}
            <button class="green-button right" type="submit" name="save">
                <span class="sprite-icon-light-arrow-right"></span>
                <span>Save</span>
            </button>
        {% endblock %}
    {% endembed %}

{% endblock %}
