{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'preview' %}

{% block title job.title %}

{% block content %}
    {{ breadcrumb({
        ('frontend.jobs.my_jobs' | trans): path('manage'),
        (job.title): null,
        ('buttons.preview' | trans):  path('job_udpate_preview', job.urlParameters),
    }) }}

    {% embed 'SensioLabsJobBoardBundle:Includes:job.html.twig' %}
        {% block job_steps %}
            <div class="padding clearfix">
                <a href="{{ path('job_update', job.urlParameters) }}" class="green-button left">
                    <span class="sprite-icon-light-arrow-left"></span>
                    <span>{{ 'buttons.make_changes' | trans }}</span>
                </a>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="clear"></div>
{% endblock %}
