{% block _job_widget %}
    <div class="padding">
        <div class="head clearfix">
            <div class="errors">
                Errors:
                <ul> 
                    <li>Example of an error message.</li>
                </ul>
            </div>

            <div class="title-company">
                <div class="job-title">
                    <input id="title" class="title-input" type="text" placeholder="Job title" required="required" name="title">
                </div>

                <div class="company-label">
                    <label class="label" for="company">@</label>
                    <input id="company" class="" type="text" placeholder="Company" required="required" name="company">
                </div>
            </div>

            <div class="country-city-contract">

                <div class="country-city clearfix">
    
                    <div class="city-input country-select">
                        <select id="job_location_country" name="country">
                            <option value="AF">Afghanistan</option>
                        </select>
                    </div>

                    <div class="city-input">
                        <input id="job_location_city" class="location" type="text" placeholder="City" maxlength="80" required="required" name="city">
                    </div>
                </div>

                <div>
                    <select id="job_contract" class="type" required="required" name="contract">
                        <option selected="selected" value="">Type of contract</option>
                        <option value="1">Full Time</option>
                        <option value="2">Part Time</option>
                        <option value="3">Internship</option>
                        <option value="4">Freelance</option>
                        <option value="5">Alternance</option>
                    </select>
                </div>
            </div>
        </div>

        <div>
            <label for="description">Description</label>
            <textarea id="description" rows="20" name="description" style="width: 100%;"></textarea>
        </div>
        <div class="how-to-apply">
            <h3>How to apply?'</h3><br />
            <input id="job_howToApply" type="text" placeholder="Send your resume at ..." name="howToApply">
        </div>
    </div>
{% endblock %}
